<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h1>Create User</h1>
<form th:action="@{/user/create}" th:object="${user}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>
    </div>
    <div>
        <select id="roleId" name="roleId">,
<!--        <select th:field="*{role}">-->
        <option th:each="role : ${roles}" th:value="${role.roleId}" th:text="${role.roleName}"></option>
    </select>
    </div>
        <button type="submit">Create</button>
</form>
</body>
</html>
